%h1 Latest
-@items.each do |item|
  -case item
  -when Image then
    -if @last == :image
      =render item
    -else
      = render partial: "images/image_full", object: item, as: :image
    -@last = :image
  -when Post then
    %br.clear
    = render partial: "posts/post_preview", object: item, as: :post
    -@last = :post

