=form_for @post do |f|
  %h2 Edit post
  =f.label :body do
    Article Body
    %span.small Markdown enabled
  =f.text_area :body
  %br.clear
  =f.label :tag_names do
    Tags
    %span.small Tags separated by space
  =f.text_field :tag_names
  %br.clear
  =f.submit
  %br.clear
 
