// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*=require application
*/

figure {
  display: block;
  margin: 10px;
  float: left;
  figcaption {
    text-align: center;
  }
}

figure.full {
  float: none;
  img {
    margin: auto;
    display: block;
    max-width: 640px;
  }
}

.tags {
  text-align: center;
  h2,span { display: inline; }
}

