// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*=require application
*=require_self
*/

form {
  width: 90%;
  label {
    float: none;
    width: auto;
  }

 

  textarea {
    margin: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

article {
  margin-bottom: 1.5em;
  .post_info {
    display: block;
    font-size: 80%;
  }
  .post_title {
  }
  p {
    clear: both;
  }
}

