=form_for @user_session do |f|
  %h2 Login information
  =f.label :mail do
    E-mail
    %span.small E-mail address
  =f.text_field :email
  %br.clear
  =f.label :password do
    Password
    %span.small Your password
  =f.password_field :password
  %br.clear
  =f.submit
  %br.clear
