-content_for :sub_menu do
  %ul
    %li=link_to 'Back', @image

%h1 Edit image

%div.center
  =image_tag thumb_image_path(@image)
  %br
  =link_to 'Rotate', rotate_image_path(@image)

=form_for(@image) do |f|
  %h2 Edit
  =f.label :caption do
    Caption
    %span.small Short description
  =f.text_field :caption
  %br.clear
  =f.label :image_file do
    Image file
    %span.small Select a file
  =f.file_field :image_file, accept: "image/png,image/tiff,image/jpeg"
  %br.clear
  =f.label :tag_names do
    Tags
    %span.small Tags separated by space
  =f.text_field :tag_names
  =f.submit 
  %br.clear
