-content_for :sub_menu do
  %ul
    %li=link_to 'Edit', edit_image_path(@image)
    %li=link_to 'Delete', @image, confirm: 'Are you sure?', method: :delete
    %li=link_to 'Back', images_path


=render partial: 'image_full', object: @image, as: :image
%h3
.tags
  %h2 Tags:
  %span
    =@image.tags.map {|tag| link_to(tag.name, tag) }.join(', ').html_safe
   
