-content_for :sub_menu do
  %ul
    %li=link_to 'Edit', edit_image_path(@image)
    %li=link_to 'Delete', @image, confirm: 'Are you sure?', method: :delete
    %li=link_to 'Back', images_path


%figure.full
  =image_tag(original_image_path(@image))
  %figcaption=@image.caption
.tags
  -@image.tags.each do |tag|
    =link_to tag.name, tag
.controls
   
