!!!
%html
  %head
    %title It's all about ME!
    %meta{charset: "UTF-8"}
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
  %body
    .page
      %header#page_header
        %div
          %h1 All about ME
          %em my egocentric page
          
        %nav#page_menu
          %ul
            %li=menu_link 'Welcome', root_path
            %li=menu_link 'Posts', '#'
            %li=menu_link 'Images', images_path
            %li=menu_link 'Tags', tags_path
          %br.clear
        .notice
          =flash[:notice]
      #page_content
        = yield

