!!!
%html
  %head
    %title It's all about ME!
    %meta{charset: "UTF-8"}
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
  %body
    .page
      %header#page_header
        %div
          %h1 All about ME
          %em my egocentric page
          
        %nav#page_menu
          %ul
            %li=menu_link 'Welcome', root_path
            %li=menu_link 'Posts', posts_path
            %li=menu_link 'Images', images_path
            %li=menu_link 'Tags', tags_path
            -if current_user
              %li.account=link_to 'Logout', user_sessions_path, method: :delete
            -else
              %li.account=link_to 'Login', new_user_sessions_path
        %nav#sub_menu
          =yield(:sub_menu)
          %br.clear
        -if flash[:notice]
          .notice=flash[:notice]
      #page_content
        = yield

